/* removes margins around the body, sets the font in use. Sets the backround color of the body.  */

body{

margin: 0 auto;   
font-family: 'open sans', sans-serif;
background:  #ECEFF1;


}

.wrapper {                 /* Start of reference 
    https://codepen.io/WaqasEhmed/pen/yVamKe?q=responsive%20pure%20css%20menu&order=popularity&depth=everything&show_forks=false*/
    margin: 0 auto;                 
    max-width: 960px;
    padding: 0 2%;
  
}
  
  .navBar {                                
    background-color: #607D8B;    
        min-width: 100%;
        
  }
  
  .navBar .logo {                                       
    background-color: white; 
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    margin: 1em 0;
    background-image: url("https://lh3.googleusercontent.com/-Zq2Lg7Tbfac/AAAAAAAAAAI/AAAAAAAAAAA/AA6ZPT4KADhKBvkMJIopcnQgJf65xpoAfQ/s192-c-mo/photo.jpg");
    background-size:contain;
    background-position: center;
  }
  
  .navBar ul {                                   
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      width: 50%;
    }
      
    .navBar a {
        color: white;
        text-decoration: none;
        transition: all .2 ease;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
      }
      .navBar  a:hover {
          color: yellow;
          cursor: pointer;
        }
      
    
    
        .navBar li {
      display: inline-block;
    }
    
    .wrapper {
      display: flex;
      justify-content: space-between;
    }
    /*  End of reference
    https://codepen.io/WaqasEhmed/pen/yVamKe?q=responsive%20pure%20css%20menu&order=popularity&depth=everything&show_forks=false*/
    

/* This team div tag is a container for the header and contents of the page exc. Header and Footer */

.team{
    
width:100%;
height: auto;
display: inline-block;



}

/* The teamheader contains rules that make up the heading/title for the page/section. 
Width is set to 90% because the padding makes up the other 10% and height is determined by the size of the fonts */
.team .teamheader{

    width: 90%;
    height: auto;
    padding-left: 10%;
    font-size: 25px;
    background-color: #455A64;
    color: white;


}


/* The item class contrains rules that contribute to the header on the index page. Width is set to 100% of the page width.
height is automatic, depending on the text. Margin 0 sets top and bottom margins, auto sets left and right margins. */
.team .item{


        width: 100%; 
        height: auto;  
        margin: 0 auto;
        
    

}
/* The picture class contains rules that contribute to the text on the index page. Width is set to 29% so that it is
centered on the page when placed against the text next to it. Background-size contain, will scale the image without
cropping it. no-repeat prevents the image from being shown more than once. center sets the position so it is central.
float left is used for formatting, it allows the text to sit next to the image on the page. Margin 20% sets the spacing
for the index page to look centered. */

.team .item .picture {
    width: 29%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;    
    margin-left: 20%;


}

.team .item .picture img {

border-radius: 600px;    /* formatting on index photo */


}

/* Used for formatting the header on the index page. Color white, sets the text to white. 
Width 100% sets the width of the box to 100% webpage width. auto height is used to match font size.
text-align:center is used to centralise the text in the header. font-size: 23px sets the text size.
background-color: #455A64 sets the header colour. Margin bottom 20px; sets the bottom margin to the header. */

.team .item .header{
    
    
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 23px;
    background-color: #455A64;
    margin-bottom: 20px;


}

/* Used for formatting the description text on the index page. Width 50% gives the text half of the usable webpage.
height auto is used to wrap around the text, depending on font size. Aligned left for formatting. Font size is set
to 20px. floated left to format next to the picture. */

.team .item .description{

    width: 50%;
    height: auto;
    text-align: left;
    font-size: 20px;
    float: left;
}

/* Text formatting for the text in the description */
.team .item .description    p{

    margin: 0;
    margin-top: 5px;


}

/* video page is given 100% width */

.video{

width: 100%;

}

/* title for video content. Given 90% width of the page. Font size is 23px. Colour of text is white. Background colour
is set to #455A64. Padding left 10% and text align left are for text formatting. Margin at the bottom of 10px for
formatting reasons. */

.title{

    width: 90%;
    font-size: 23px;
    color: white;
    background-color: #455A64;
    padding-left: 10%;
    text-align: left;
    margin-bottom: 10px;

}

/* Video content area has a width of 90% for formatting. Looks better than 100%. Margin 0 auto centers the
videocontent in this case. */ 

.video .videocontent{

    width: 90%;
    margin: 0 auto;

}

/* Footer has been given padding-top, padding-bottom 50px for formatting reasons. the footer is given 100%
width of the webpage. height:auto adjusts the footer, responsive design. background: #455A64 sets background
colour. float:left is set for formatting. */

.footer{
padding-top:50px;
width:100%;
height:auto;;
background: #455A64; 
padding-bottom:50px;   
float:left;

}

/* icons are set to float:left for formatting. height:auto adjusts the icons, responsive design. */

.footer .icons{

float:left;
    height:auto;

}

/* logos in the footer have padding-left 50px for formatting. float:left sets logo position to the left.
width is set to 10% for spacing between elements. */

.footer .icons .logo{
    padding-left:50px;
    float:left;
    width:10%;

}

/* contact form in the footer. Width has been set to 50% of the page. Text has been floated left of the icons
for formatting. Colour of the text is set to white, with a bold weighting and 25px size. */

.footer .icons .contact{
width:50%;
float:left;
color:white;
font-weight:bold;
font-size:25px;


}

/* 50px border radius gives the icons in the footer a circular appearance. */ 

.footer .icons .logo img{
border-radius:50px;



}

/* unordered list on glossary content. Sets the width of each list to 40%. float left is used for formatting, it 
allows the lists to be placed next to each other. text has been centered with a 5% padding either side of the list. 
list-style-type: none; removes bulletpoints. */

.container .glossary .content ul{
width: 40%;
float:left;
text-align: center;
padding-left: 5%;
list-style-type: none;

}

/* Used for formatting the page to place a link to an online glossary. Spacing is set to 100% of the webpage.
Text has been centered and floated left for formatting. */  

.container .glossary .description{

    width: 100%;
    text-align: center;
    float: left;


}

/* Header for the comparison webpage. header is given 100% width of the page, text is centered. */

.container .comparison{

width:100%;
text-align: center;

}


/* Text box formatting for the comparisons. Margins are set for auto. Width and height is set to 500px each.
Displayed as inline blocks for page formatting. Margin of 20px is set to the left of the page for formatting
vertical-align, aligns the div text at the top of the page, making the alignment of the div'd boxes go to the top. 
Before this was applied, they were aligned in different ways and were not the same. Border thickness of 1px is set
around the text boxes in the colour #455A64. 10px margin set at the bottom for formatting. */ 

.container .comparison .col{
margin: 0 auto;
width:500px;
height:500px;
display: inline-block;
margin-left: 20px;
vertical-align: top;
border: #455A64 1px solid;
margin-bottom: 10px;    
}

/* Subtitles inside the individual text boxes. Width of 100% inside the text box. Font size of 20px.
Background colour of #455A64 for the title. White text colour. */

.container .comparison .col .subtitle{
width:100%;
font-size:20px;
background: #455A64;
color:white;
}

/*  Formatting for the unordered list in the third text box. Sets the text to align along the left side. */

.container .comparison .col .description ul{
text-align: left;
}


/* Formatting for the p tags inside the text boxes. Text is aligned to the left sizde. With 5px of padding on
the left and right sides.*/         

.container .comparison .col .description p{


    text-align: left;
    padding-left: 5px;
    padding-right: 5px;


}



}
 /* left align text in paragraph */

.container .mgp .description .p {

    text-align: left;
}

/* Set spacing to centralise text position of paragraph on page */

.paragraph {
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    
}


/* Sets the subtitles for the MGP page. width to 90% of webpage. Font size is set to 20px. Colour of text is white.
background colour is set to #466A64. 10% padding left for formatting. */ 

.container .mgp  .subtitle{
width:90%;
font-size: 20px;
color:white;
background: #455A64;
padding-left: 10%;

}

/* Formatting for text, centered. */ 

.container .mgp .description{
text-align: center;


}
/* Reference start https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */ 
/* Media query sets rules for any screen size set at 521px or below */
@media screen and (max-width: 521px) {
    /* Reference end*/ 
.footer .icons .contact{

font-size:10px;

}


.wrapper{
display: inline-block;



}

.navBar ul a{
width: 20px;


}
    .navBar ul{
        display: inline-block;
        width: 50px;


    }
    .container .comparison .col{
            width:50%;;
            height:auto;


    }
}



